[alias]
  aa = add --all
  addp = !git add -N . && git add -p
  alias = config --get-regexp ^alias\\.
  b = branch
  browse = !hub browse
  bselect = !git branch | grep -v '^*' | fzf-tmux --reverse | xargs git checkout
  ca = commit --amend
  ci-s = !hub ci-status
  co = checkout
  ctags = !.git/hooks/ctags
  find = log --pretty=\"format:%Cgreen%H %Cblue%s\" --name-status --grep
  issues = !hub browse -- issues
  last = log -1 HEAD
  mup = !git checkout master && git pull && git checkout -
  overview = log --all --since=2
  pull-request = !hub pull-request
  recap = log --all --oneline --no-merges --author=jackschuss@gmail.com
  recent = for-each-ref --count=10 --sort=-committerdate refs/heads/ --format=\"%(refname:short)\"
  s = status
  showlast = !git show $(rev-parse HEAD)
  sl = log --oneline --decorate -20
  stats = shortlog -sn
  tack = commit --amend --no-edit
  today = log --since=00:00:00 --all --no-merges --oneline --author=jackschuss@gmail.com
  uncommit = reset --soft HEAD^
  unstage = reset
  upstream = rev-parse --abbrev-ref --symbolic-full-name @{u}
[core]
  editor = /usr/local/bin/vim
[fetch]
  prune = true
[init]
  templatedir = ~/dotfiles/git_template/
[merge]
  ff = only
[push]
  default = upstream
[rebase]
  autosquash = true
[user]
  name = Jack Schuss
  email = jackschuss@gmail.com
