[core]
	editor = /usr/local/bin/vim
[user]
	name = Jack Schuss
	email = jackschuss@gmail.com
[rebase]
	autosquash = true
[alias]
	last = log -1 HEAD
	stats = shortlog -sn
	recent = for-each-ref --count=10 --sort=-committerdate refs/heads/ --format=\"%(refname:short)\"
	overview = log --all --since=2
	recap = log --all --oneline --no-merges --author=jackschuss@gmail.com
	today = log --since=00:00:00 --all --no-merges --oneline --author=jackschuss@gmail.com
	ctags = !.git/hooks/ctags
[init]
	templatedir = ~/.git_template
